// Media
// Media
// Media
// Media
// Media
$only-xs-style-end-at-wdith    : 767px;

$only-sm-style-start-at-wdith  : 768px;
$only-sm-style-end-at-wdith    : 1199px;

$only-lg-style-start-at-width  : 1200px;
