// General
// General


body{
  background : green;
  height     : 100vh;
  width      : 100vw;

  font-family : "Family", Arial, Verdana ;
  font-weight : 400;
}



h1,
h2{
  font-weight : 700;
}

h3,
h4{
  font-weight : 600;
}
